<!-- Barra de Navegacion-->
<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
      <a class="navbar-brand" href="/">
          <img src="/img/openlayers.png" 
          alt="Bootstrap1" width="110" height="45">
      </a>  
      <a class="navbar-brand" href="/">
          <img src="/img/ud.png" 
          alt="Bootstrap1" width="135" height="45"
          class="invertida">
      </a>
  </div>
  </nav>